<div class="home-container"
  ><div class="home-container01"
    ><div class="home-container02"
      ><span class="home-text"><span>Administrateur</span><br /></span
      ><p class="home-text03">Profile</p></div
    ><div class="home-container03"
      ><div class="home-sidebar"
        ><nav class="home-nav"
        ><span class="home-text04" routerLink="/Administrateur/Dashboard">Dashboard</span
            ><span class="home-text05" routerLink="/Administrateur/Calendrier">Calendar</span
            ><span class="home-text06" routerLink="/Administrateur/GestionDesFormateurs/Accueil">Gestion des formateurs</span
            ><span class="home-text07" routerLink="/Administrateur/GestionDeFormation/Accueil">Gestion des formations</span
            ><span class="home-text08" routerLink="/Administrateur/GestionDinscription/Accueil">Gestion d&apos;inscription</span
            ><span class="home-text09" routerLink="/Administrateur/Profile"><span>Profile</span><br /></span
            ><span class="home-text12" routerLink="/Administrateur/inboxEmail"><span>Help</span><br /></span></nav
          ><div class="home-profile"
          ><img
            alt="image"
            src="https://images.unsplash.com/photo-1562159278-1253a58da141?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDIyfHxtYW4lMjBwb3J0dHJhaXR8ZW58MHx8fHwxNjI3MjkzNTM1&amp;ixlib=rb-1.2.1&amp;w=200"
            class="home-image"
          /><div class="home-container04"
            ><span class="home-text15">John Doe</span
            ><span class="home-text16">View Profile</span></div
          ></div
        ></div
      >  
      <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
      <!------ Include the above in your HEAD tag ---------->
      <div class="container-111 emp-profile fade-in">
                  <form method="post">
                      <div class="row">
                          <div class="col-md-4">
                              <div class="profile-img">
                                  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS52y5aInsxSm31CvHOFHWujqUx_wWTS9iM6s7BAm21oEN_RiGoog" alt=""/>
                                  <div class="file btn btn-lg btn-primary" >
                                      Change Photo
                                      <input type="file" name="file" />
                                  </div>
                              </div>
                          </div>
                          <div class="col-md-6" style="margin-bottom: 100px;">
                              <div class="profile-head">
                                          <h5>
                                              Kshiti Ghelani
                                          </h5>
                                          <h6>
                                              Web Developer and Designer
                                          </h6>
                                          <p class="proile-rating">RANKINGS : <span>8/10</span></p>
                                  <ul class="nav nav-tabs" id="myTab" role="tablist">
                                      <li class="nav-item">
                                          <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">About</a>
                                      </li>
                                      <li class="nav-item">
                                          <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Timeline</a>
                                      </li>
                                  </ul>
                              </div>
                          </div>
                          <div class="col-md-2">
                              <input type="submit" class="profile-edit-btn" name="btnAddMore" value="Edit Profile"/>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-md-4">
                              <div class="profile-work">
                                  <p>WORK LINK</p>
                                  <a href="">Website Link</a><br/>
                                  <a href="">Bootsnipp Profile</a><br/>
                                  <a href="">Bootply Profile</a>
                                  <p>SKILLS</p>
                                  <a href="">Web Designer</a><br/>
                                  <a href="">Web Developer</a><br/>
                                  <a href="">WordPress</a><br/>
                                  <a href="">WooCommerce</a><br/>
                                  <a href="">PHP, .Net</a><br/>
                              </div>
                          </div>
                          <div class="col-md-8">
                              <div class="tab-content profile-tab" id="myTabContent">
                                  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                              <div class="row">
                                                  <div class="col-md-6">
                                                      <label>User Id</label>
                                                  </div>
                                                  <div class="col-md-6">
                                                      <p>Kshiti123</p>
                                                  </div>
                                              </div>
                                              <div class="row">
                                                  <div class="col-md-6">
                                                      <label>Name</label>
                                                  </div>
                                                  <div class="col-md-6">
                                                      <p>Kshiti Ghelani</p>
                                                  </div>
                                              </div>
                                              <div class="row">
                                                  <div class="col-md-6">
                                                      <label>Email</label>
                                                  </div>
                                                  <div class="col-md-6">
                                                      <p>Amir Mekni</p>
                                                  </div>
                                              </div>
                                              <div class="row">
                                                  <div class="col-md-6">
                                                      <label>Phone</label>
                                                  </div>
                                                  <div class="col-md-6">
                                                      <p>123 456 7890</p>
                                                  </div>
                                              </div>
                                              <div class="row">
                                                  <div class="col-md-6">
                                                      <label>Profession</label>
                                                  </div>
                                                  <div class="col-md-6">
                                                      <p>Web Developer and Designer</p>
                                                  </div>
                                              </div>
                                  </div>
                                  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                              <div class="row">
                                                  <div class="col-md-6">
                                                      <label>Experience</label>
                                                  </div>
                                                  <div class="col-md-6">
                                                      <p>Expert</p>
                                                  </div>
                                              </div>
                                              <div class="row">
                                                  <div class="col-md-6">
                                                      <label>Hourly Rate</label>
                                                  </div>
                                                  <div class="col-md-6">
                                                      <p>10$/hr</p>
                                                  </div>
                                              </div>
                                              <div class="row">
                                                  <div class="col-md-6">
                                                      <label>Total Projects</label>
                                                  </div>
                                                  <div class="col-md-6">
                                                      <p>230</p>
                                                  </div>
                                              </div>
                                              <div class="row">
                                                  <div class="col-md-6">
                                                      <label>English Level</label>
                                                  </div>
                                                  <div class="col-md-6">
                                                      <p>Expert</p>
                                                  </div>
                                              </div>
                                              <div class="row">
                                                  <div class="col-md-6">
                                                      <label>Availability</label>
                                                  </div>
                                                  <div class="col-md-6">
                                                      <p>6 months</p>
                                                  </div>
                                              </div>
                                      <div class="row">
                                          <div class="col-md-12">
                                              <label>Your Bio</label><br/>
                                              <p>Your detail description</p>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </form>           
              </div>
      
             
            </div></div
></div>
