<section style="background-color: #eee;">
  <div class="container py-5">
    <div class="row">
      <div class="col-lg-4">
        <div class="card mb-4">
          <div class="card-body text-center">
            <!--<img [src]="'http://127.0.0.1:3000/GetImage/'+ profileEt.image"
              alt="avatar"
              class="rounded-circle img-fluid" style="width: 150px;">
            <h5 class="my-3">{{profileEt.NomPrenom}}</h5>
            <p class="text-muted mb-1">{{profileEt.Role}}</p>
            <p class="text-muted mb-4"></p>
            <div class="d-flex justify-content-center mb-2">
              <button type="button" class="btn btn-primary">Follow</button>
              <button type="button"
                class="btn btn-outline-primary ms-1">Message</button>-->
            </div>
          </div>
        </div>
        <div class="card mb-4 mb-lg-0">
          <div class="card-body p-0">
            <ul class="list-group list-group-flush rounded-3">
              <li
                class="list-group-item d-flex justify-content-between align-items-center p-3">
                <i class="fas fa-globe fa-lg text-warning"></i>
                <!--<p class="mb-0">{{MS[0]}}</p>-->
              </li>
              <li
                class="list-group-item d-flex justify-content-between align-items-center p-3">
                <i class="fab fa-github fa-lg" style="color: #333333;"></i>
                <!--<p class="mb-0">{{MS[1]}}</p>-->
              </li>
              <li
                class="list-group-item d-flex justify-content-between align-items-center p-3">
                <i class="fab fa-twitter fa-lg" style="color: #55acee;"></i>
                <!--<p class="mb-0">{{MS[2]}}</p>-->
              </li>
              <li
                class="list-group-item d-flex justify-content-between align-items-center p-3">
                <i class="fab fa-instagram fa-lg" style="color: #ac2bac;"></i>
                <!--<p class="mb-0">{{MS[3]}}</p>-->
              </li>
              <li
                class="list-group-item d-flex justify-content-between align-items-center p-3">
                <i class="fab fa-facebook-f fa-lg" style="color: #3b5998;"></i>
                <!--<p class="mb-0">{{MS[4]}}</p>-->
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="card mb-4">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Full Name</p>
              </div>
              <div class="col-sm-9">
                <!--<p class="text-muted mb-0">{{profileEt.NomPrenom}}</p>-->
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Email</p>
              </div>
              <div class="col-sm-9">
                <!--<p class="text-muted mb-0">{{profileEt.Email}}</p>-->
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Phone</p>
              </div>
              <div class="col-sm-9">
                <!--<p class="text-muted mb-0">{{this.profileEt.Telephone}}</p>-->
              </div>
            </div>
          </div></div>
        <div class="row">
          <div class="col-md">
            <div class="card mb-4 mb-md-0">
              <div class="card-body ">
                <p class="mb-4"><span
                    class="text-primary font-italic me-1">Matériels attribués à
                    l'enseignant</span>
                  <!----------------------Array Matiere------------------------------>
                </p>
                <div *ngFor="let item of Array "  style="height: 55;">
                  <p class="mb-1" style="font-size: .77rem;">{{item}}</p>
                  <div class="progress rounded"
                    style="height: 5px;width: 100%; margin-bottom: 14px;">
                    <div class="progress-bar" role="progressbar"
                      style="width: 50%" aria-valuenow="100"
                      aria-valuemin="0" aria-valuemax="100"></div>
                      
                      
                  </div>
                
                  <!--<button class="button" style="  bottom:40; left: 45%;  margin-right : 14px; " (click)="SupprimerMatiereEnseignant(item)">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 69 14"
                      class="svgIcon bin-top">
                      <g clip-path="url(#clip0_35_24)">
                        <path
                          fill="black"
                          d="M20.8232 2.62734L19.9948 4.21304C19.8224 4.54309 19.4808 4.75 19.1085 4.75H4.92857C2.20246 4.75 0 6.87266 0 9.5C0 12.1273 2.20246 14.25 4.92857 14.25H64.0714C66.7975 14.25 69 12.1273 69 9.5C69 6.87266 66.7975 4.75 64.0714 4.75H49.8915C49.5192 4.75 49.1776 4.54309 49.0052 4.21305L48.1768 2.62734C47.3451 1.00938 45.6355 0 43.7719 0H25.2281C23.3645 0 21.6549 1.00938 20.8232 2.62734ZM64.0023 20.0648C64.0397 19.4882 63.5822 19 63.0044 19H5.99556C5.4178 19 4.96025 19.4882 4.99766 20.0648L8.19375 69.3203C8.44018 73.0758 11.6746 76 15.5712 76H53.4288C57.3254 76 60.5598 73.0758 60.8062 69.3203L64.0023 20.0648Z"></path>
                      </g>
                      <defs>
                        <clippath id="clip0_35_24">
                          <rect fill="white" height="14" width="69"></rect>
                        </clippath>
                      </defs>
                    </svg>

                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 69 57"
                      class="svgIcon bin-bottom">
                      <g clip-path="url(#clip0_35_22)">
                        <path
                          fill="black"
                          d="M20.8232 -16.3727L19.9948 -14.787C19.8224 -14.4569 19.4808 -14.25 19.1085 -14.25H4.92857C2.20246 -14.25 0 -12.1273 0 -9.5C0 -6.8727 2.20246 -4.75 4.92857 -4.75H64.0714C66.7975 -4.75 69 -6.8727 69 -9.5C69 -12.1273 66.7975 -14.25 64.0714 -14.25H49.8915C49.5192 -14.25 49.1776 -14.4569 49.0052 -14.787L48.1768 -16.3727C47.3451 -17.9906 45.6355 -19 43.7719 -19H25.2281C23.3645 -19 21.6549 -17.9906 20.8232 -16.3727ZM64.0023 1.0648C64.0397 0.4882 63.5822 0 63.0044 0H5.99556C5.4178 0 4.96025 0.4882 4.99766 1.0648L8.19375 50.3203C8.44018 54.0758 11.6746 57 15.5712 57H53.4288C57.3254 57 60.5598 54.0758 60.8062 50.3203L64.0023 1.0648Z"></path>
                      </g>
                      <defs>
                        <clippath id="clip0_35_22">
                          <rect fill="white" height="57" width="69"></rect>
                        </clippath>
                      </defs>
                    </svg>
                  </button>-->
                 
                </div>
                <!----------------------------------------------------------------------->
                <div class="row">
                  <div class="col-md-3">
                    <!--<button id="miseajour" type="button" class="btn btn-primary"
                      (click)="openDialog()">Mise
                      a jour</button>-->
                  </div>
                  <div class="col-md-6">
                    <!--<input name="MatiereEn" [(ngModel)]="profileEt.MatiereET"
                      type="text"
                      class="form-control rounded"
                      style="text-align: center; margin-top: 20px; height: 60%; "
                      aria-label="Username"
                      aria-describedby="basic-addon1"
                      placeholder="Enter Votre Matiere" />-->
                  </div>
                  <div class="col-md-3">
                    <!--<button id="miseajour" type="button" class="btn btn-primary"
                      (click)="AjouterMatiereEnseignant()">Ajouter</button>-->
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  <!--</div>-->
</section>