/*-----------------------------------------Begin-Cards-------------------------------*/
.card {
  width: 190px;
  height: 254px;
  border-radius: 30px;
  background: #e0e0e0;
  box-shadow: 15px 15px 30px #bebebe,
  -15px -15px 30px #ffffff;
  display : inline-block;
}
/*-----------------------------------------End-Cards-------------------------------*/


/*-----------------------------------------Begin-icon-------------------------------*/

/*-----------------------------------------End-icon-------------------------------*/


/*-----------------------------------------Begin-Background-------------------------------*/
.Background {
  background-image: url('EduXcellence_image.png');
  background-size: cover;
  background-position: center;
  /* Définir la hauteur à 100vh pour qu'elle occupe toute la hauteur de l'écran */
  height: 100vh;

}
/*-----------------------------------------End-Background-------------------------------*/

/*-----------------------------------------Begin-Button-------------------------------*/

.playstore-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #000;
  border-radius: 9999px;
  background-color: rgb(255, 255, 255);
  padding: 0.625rem 1.5rem;
  text-align: center;
  color: rgb(0, 0, 0);
  outline: 0;
  transition: all  .2s ease;
  text-decoration: none;
}

.playstore-button:hover {
  background-color: transparent;
  color: rgb(0, 0, 0);
}

.icon {
  height: 1.5rem;
  width: 1.5rem;
}

.texts {
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 1;
}

.text-1 {
  margin-bottom: 0.25rem;
  font-size: 0.75rem;
  line-height: 1rem;
}

.text-2 {
  font-weight: 600;
}

/*-----------------------------------------End-Button-------------------------------*/