<!---------------------------------------Begin-Background--------------------------------------------------->
<div class="Background">
  <!---------------------------------------Begin-Background--------------------------------------------------->

  <!------------------------------------------Begin-Icon------------------------------------------------------>

  <!--------------------------------------------End-Icon------------------------------------------------------->

  <!----------------------------------------Begin-Cards--------------------------------------------------->

  <div class="card_image"
    style="width: 230px; position: absolute; top: 60%; right: 30%;">
    <img width="95" height="95"
      src="https://img.icons8.com/parakeet-line/100/teacher.png" alt="teacher"
      style=" margin-left: 20px;" />
    <a class="playstore-button" href="#">
      <span class="texts">
        <span class="text-2">Formateur</span>
      </span>
    </a>
  </div>

  <div class="card_image"
    style="width: 230px; position: absolute; top: 60%; right: 43%;">
    <img width="105" height="105"
      src="https://img.icons8.com/windows/100/system-administrator-male.png"
      alt="system-administrator-male"
      style=" margin-left: 25px; margin-top: -5px;" />
    <a class="playstore-button" href="#">
      <span class="texts">
        <span class="text-2">Administrateur</span>
      </span>
    </a>
  </div>

  <div class="card_image"
    style="width: 230px; position: absolute; top: 60%; right: 55%;">
    <img width="100" height="100"
      src="https://img.icons8.com/ios-filled/100/conference-foreground-selected.png"
      alt="conference-foreground-selected" style=" margin-left: 20px; " />
    <a class="playstore-button" href="#">
      <span class="texts">
        <span class="text-2">Participant</span>
      </span>
    </a>
  </div>

  <!---------------------------------------End-Cards--------------------------------------------------->
</div>